<ion-view title="Authorize Payment">
    <ion-nav-bar class="bar-stable schedule-bar nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="menu-bgcolor">

        <div class="card ">
            <div class="m20">


                <div class="auth-custinfo" for="">Customer Information</div>

                <label class="item item-input auth-custip">
          <input class="auth-custipPlc" type="text" ng-model="userData.customerName" placeholder="Enter Customer Name">
          </label>
                <label class="item item-input auth-custip">
          <input class="auth-custipPlc" type="number" ng-model="userData.customerMobile" placeholder="Enter Customer Mobile Number">
          </label>



                <li class="item item-checkbox noborder checkbox-assertive borderR auth-textbox mar10">
                    Customer will make payment
                    <label class="checkbox noborder ">
          <input type="radio"  ng-model="userData.orderFor" value="Customer">
          </label>
                </li>



                <li class="item item-checkbox noborder checkbox-assertive borderR auth-textbox mar10">
                    Customer has paid in Cash
                    <label class="checkbox noborder ">
          <input type="radio"  ng-model="userData.orderFor" value="Cash">
          </label>
                </li>

                <li class="item item-checkbox noborder checkbox-assertive borderR auth-textbox mar10">
                    I will make payment for customer
                    <label class="checkbox noborder ">
          <input type="radio"  ng-model="userData.orderFor" value="Credits">
          </label>
                </li>


                <div class="auth-btnalign">

                    <button class="button button-block button-positive" ng-disabled="!(userData.orderFor && userData.customerMobile && userData.customerName)"
                        ng-click="submitData(userData)">
          Submit
          </button>


                </div>

            </div>
        </div>
    </ion-content>
</ion-view>