<ion-view title="Customer list">
  <ion-nav-bar class="bar-stable nonav">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-android-more-vertical sigupRight" ng-click="popover.show($event)">
          </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-tabs class="tab-button tab-header has-header tabs-top custlisttab">
    <ion-tab title="EXISTING">
      <ion-content class="hastabstop has-notabs has-tabs">

        <div class="row pad0 mt5" ui-sref='app.browse' ng-repeat="exist in existing | filter: searchtext">
          <div class="col-20">
            <div class="custimg">
              <img src="" alt="">
            </div>
          </div>
          <div class="col-80 cust-bt"  >
            <div class="custlist">
              <h4>{{exist.customer.name}}</h4>
              <h5>{{exist.customer.mobile}}</h5>
              <h6 ng-if="exist.customer.subscribedProd[0]"> Balance: {{exist.customer.subscribedProd[0].jarBalance}}</h6>
            </div>
            <div class="custlistarr" >
              <i class="ion ion-chevron-right item-note " ui-sref='app.browse'></i>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-tab>
    <ion-tab title="PENDING" ng-init="show=0">
      <ion-content class="hastabstop has-notabs has-tabs " >
        <div class="row pad0 mt5"  ng-repeat="pend in pending | filter: searchtext">
          <div class="col-20">
            <div class="custimg">
              <img src="" alt="">
            </div>
          </div>
          <div class="col-80 cust-bt">
            <div class="custlist">
              <h4>{{pend.customer.name}}</h4>
              <h5>{{pend.customer.mobile}}</h5>
            </div>
            <!-- <div class="custgear ">
              <i class="ion ion-trash-b item-note " ng-click= "dropdown.show($event)"></i>

            </div> -->

          </div>
        </div>



      </div>

      </ion-content>
    </ion-tab>
  </ion-tabs>
  <div class="cust-search" >
    <label class="item item-input">
          <input type="text" placeholder="Search by Name/Number" ng-model="searchtext">
          <i class="icon ion-android-search placeholder-icon item-note"></i>
        </label>
  </div>
</ion-view>
