<ion-view title="Dashboard">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-bell header-bellFont disblock disblock" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="row bottomTopMarRow2">

      <div class="col col-50 colPad ">
        <div class="lastMonth">
          <label for=" ">₹ {{dashboardData.currentMonthCredits||0}}
          <pr>Credits</pr>
        </div>
      </div>
      <div class="col col-50 colPad">
        <div class="newCustomer">
          <label for=" ">{{dashboardData.currentMonthEarnings||0}}</label>
          <pr>Earnings</pr>
        </div>
      </div>
    </div>


    <div class="row bottomTopMarRow">
      <div class="col col-33 colPad">
        <div class="numberDiv">
          <label class="rankLabel">{{dashboardData.rank||0}}</label>
          <i class="ion ion-android-arrow-up "></i>
        </div>
        <div class="rankDiv">
          <pr>Rank</pr>
        </div>
      </div>
      <div class="col col-33 colPad ">
        <div class="lastMonth">
          <label>₹ {{dashboardData.previousMonthCredits||0}}</label>

          <pr>Last Month</pr>
        </div>
      </div>
      <div class="col col-33 colPad">
        <div class="newCustomer">
          <label for=" ">{{dashboardData.currentMonthUser||0}}
          <pr>New Customers</pr>
        </div>
      </div>
    </div>
    <div class="newCust">
      <button class="button  ion-plus-circled button-positive" ui-sref="app.browse">
 <label class="oldCustLabel"  >New Customer</label>
          </button>

        </div>
        <div class="oldCust">
          <button class="button ion-custom-user  button-positive" ui-sref="app.customerlist">
 <label class="oldCustLabel"  >Old Customer</label>
</button>
        </div>
  </ion-content>