<ion-view title="Orders">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-android-more-vertical sigupRight disblock" ng-click="popover.show($event)">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header bgearn">
  <div class="text-center">
    <h4 class="earnings-past">Past Transaction</h4>
  </div>
  <div class="">
    <label class="earning-Date" for="">February 17, 2017</label>
    <div class="whtback">
      <div class="row order-jarRow">
        <div class="col-50">
          <div class="descTrans">
            <h4>Name</h4>
            <label for="">Contact Number</label>
          </div>
        </div>
        <div class="col-25">
          <label for="" class="history-refils">2 Cartons</label>
          <label for="" class="bottlename">Kinley 500ml</label>

          <label for="" class="history-refils">5 Jars</label>
          <label for="" class="bottlename">Kinley 20L</label>
        </div>
        <div class="col-25">
          <div class="order-histrscol">
            <span>₹</span>
            <label for="">150</label>
          </div>
        </div>
        <label for="">Order Confirmed</label>
      </div>
      <!-- <div class="borbtm">
      </div> -->
      <!-- <div class="row order-jarRow">
        <div class="col-50">
          <div class="descTrans">
            <h4>Name</h4>
            <label for="">Contact Number</label>
          </div>
        </div>
        <div class="col-25">
          <label for="" class="refils">2 Refills</label>
        </div>
        <div class="col-25">
          <div class="rscol">
            <span>₹</span><label for="">850</label>
          </div>
        </div>
      </div>
      <div class="borbtm">
      </div> -->
    </div>
  </div>
</ion-content>
  </ion-view>
