<ion-view >
    <!--<ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class=" ion-contentcolor">
<div>
    <div class="container reldiv">
        <div class="position-center">
<div class="thankyou">Payment Successful!</div>
<div class="img-div">
    <img class="img-width" src="img/tick.png" alt="">
</div>
 <div class="orderplaced">Congratulations!</div>
 <p class="sorrymsg"> You have booked a new order. <br> Keep up the good work!</p>
        </div>

    </div>

</div>
</ion-content>
<div class="bar bar-footer signUpFooter footer-height">
    <button class="button button-block button-positive footer-font" ui-sref="app.dashboard">
Go to Dashboard
</button>
</div>
</ion-view>
