<ion-view title="Sign up">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIcon">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-android-more-vertical sigupIcon">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header signUpForm has-footer">
    <div class=" ">
      <label class=" item-input ">
    <input type="text" placeholder="Your Name">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="Email Id(Optional)">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="Company Name">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="Company Address">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="" disabled>
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="Pincode" ng-click="sorryPopup()">
  </label>
    </div>
    <!--<div class="list paddingDiv">
      <label class="item item-input nameSignup">
    <input class = "plcHldr" type="text" placeholder="Your Name">
  </label>
      <label class="item item-input">
    <input class = "plcHldr" type="text" placeholder="Email Id(optional)">
  </label>
    </div>-->
    <div class="row">
      <div class="col col-50">
        <div class="card signUpCard mt-10">
          <i class="ion ion-ios-camera-outline camcon"></i>
          <div class="signUpAdd">
            <i class="ion ion-ios-plus-empty plus">

            </i>
          </div>
          <label for="">Add Pan Card</label>
        </div>
      </div>
      <div class="col col-50">
        <div class="card signUpCard mt-10">
          <i class="ion ion-ios-camera-outline camcon"></i>
          <div class="signUpAdd">
            <i class="ion ion-ios-plus-empty plus">
            </i>
          </div>
          <label for="">Add Aadhar Card</label>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer signUpFooter">
    <button class="button button-block button-positive" ui-sref="app.dashboard">
  Get Started
</button>
  </div>
</ion-view>
