<ion-view >
    <!--<ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class=" ion-contentcolor">
      <div>

          <div class="container reldiv">
              <div class="position-center">
      <div class="thankyou">Oops!</div>
      <div class="img-div">
          <img class="img-width" src="img/sorry.png" alt="">
      </div>
       <div class="orderplaced">Something went wrong.</div>
       <p class="sorrymsg"> We are trying to figure out what it is.<br> You can to place your order again, or just give us a call on <span class="">022-33024910</span></p>
              </div>

          </div>

      </div>

</div>
</ion-content>
<div class="bar bar-footer signUpFooter footer-height">
    <button class="button button-block button-positive footer-font" ui-sref="app.dashboard">
Go to Dashboard
</button>
</div>
</ion-view>
