<ion-popover-view class= "termspopover">

  <ion-header-bar class="termshead">
         <h1 class = "">Terms & Conditions</h1>
      </ion-header-bar>
  <ion-content >

    <div class="termspr">Welcome to HaTa Bevtech.<br>
By signing up on the HaTa portal, you signify to be bound by the following terms and conditions.These terms and conditions constitute an electronic record and do not require any physical signature and form the basis of all transactions between the relationship partner/’Mitr’ and HaTa.<br>
HaTa reserves the right to amend/alter/edit any of its terms and conditions at any time and without giving any reason for the same.<br>
Terms of Enrolment:<br>

  1. This service allows you to facilitate sales/act as an intermediary between the buyer and HaTA for the products on HaTa’s platform only.<br>
  2. By entering your establishment details and signing up to this application, you declare that you have understood the programme and/or scheme/s proposed by the company. You declare that you have asked all the relevant questions and have a clear understanding of what you are getting into including but not limited to payment criteria, timing of payments, working of credits etc. You declare that you understand the risks and returns of this proposition.<br>
  3. You have willingly input the following details for verification by the HaTa team, namely, Name, Establishment Name, Establishment Address, Mobile, Telephone , Email, Pan and Aadhar card photos.You further declare that all the details entered above are true and correct  and that is there is no false misrepresentation on any account.You also understand that any false representation will warrant a suspension/will lead to blocking your account whether for a finite/infinite period of time.<br>
Terms of Service:<br>
  1. You agree to follow the following rules when introducing the platform and the products on the platform to a customer:<br>
    a. You declare that you will not misrepresent the price /cheat/lie to or do any such thing which is against the policy of the company. You undertake to always follow the pricing provided in the application for each and every order. You undertake to always follow the system provided in the application to process the order. You also undertake to deal fairly with the buyer at all times.<br>
    b. The relationship partner/‘Mitr’ agrees to purchase any product from the HaTa platform only on behalf of any buyer and only for self consumption of the buyer. The relationship partner/‘Mitr’ agrees to not purchase any products from the HaTa platform to resell/stock in his premises or do any such thing which may have the effect of reselling .<br>
    c. You understand that you must not make promises that you cannot fulfil to the buyer nor can you make any promises on behalf of HaTa to the buyer unless explicit consent for the same is given by HaTa. HaTa takes no responsibility of any loss/ damage caused to the buyer due to the promises made by the relationship partner/’Mitr’.<br>
    d.The relationship Partner/‘Mitr’ understands the risks associated with extending credit to any buyer to purchase products on the HaTa portal. The relationship partner/‘Mitr’ agrees to undertake maximum care before extending such credit. HaTa will in no way be responsible for the credit that the relationship Partner/‘Mitr’ extends to the buyers.The relationship partner/‘Mitr’ is wholly and solely responsible for any recoveries from the buyer and HaTa takes no responsibility whatsoever for any  such transaction that may have gone wrong for the relationship partner/‘Mitr’.<br>
    e. The Relationship partner/’Mitr’ understands that all the customers that purchase HaTa’s products through the relationship partner/’Mitr’ are HaTa’s customers.<br>
    f. The relationship partner agrees to put in efforts to build his business as a relationship partner/’Mitr’ of HaTa and to do all things outlined in his scope mentioned above for the same.The relationship partner/’Mitr’ undertakes to act quickly in inputting orders received from the buyers  and to not delay in executing the order and payment,whether payment is  through himself or through the buyer, to allow HaTa time to prepare for delivery to the buyer at the buyer’s  preferred date and time.<br>
    g. The relationship partner/’Mitr’ undertakes to inform HaTa of all payments he/she receives from the customer, whether the payment be in cash/cheque or any other online medium, without any delay.<br>
    h. The Relationship partner/’Mitr’ also undertakes to take all cheque payments or online payments in the name of HaTa Bevtech only. The Relationship partner/’Mitr’ undertakes that he will do no such act to urge the customer to make a payment in his name through the abovementioned media nor will he accept any payment in the abovementioned media in any name other than HaTa Bevtech’s.<br>
    i. The Relationship partner/’Mitr’ understands that he will receive his commission only after successful deliveries to the buyer’s address, regardless of when the order/payment for the buyer was registered on the application/portal/website/or through any other media.<br>
    j. The Relationship partner/’Mitr’ undertakes to not make any bogus or false buyer entries on the application/portal/website. He declares to understand that the consequences of such acts will result in account suspension and/or legal action.<br>
    k. The Relationship partner/’Mitr’ will not sell customer’s data to any body/ any entity under any circumstances. If such an event is noted, then the Relationship partner/’Mitr’ understands that he will have to pay damages and/or face legal action.<br>
    l. The Relationship partner/’Mitr’ undertakes to guard HaTa bevtech’s trade secrets and to not discuss/share/collude with any competitor whether manufacturing and/or selling the same or similar products as seen on HaTa’s platform or any competitor creating a similar platform as HaTa’s whether for the same or different kinds of products. If such an event is noted, then the Relationship partner/’Mitr’ understands that he will have to pay damages and/or face legal action.<br>

Privacy:<br>

The personal data/information given by you shall be treated as strictly confidential and will only be used by the company or its associates or its affiliates or its subsidiaries in accordance with the privacy policy of the company.<br>
Please review our privacy policy to understand our practices.<br>

Fradulent/Illegal/Unlawful Activities:<br>

If HaTa notices/receives information on fraudulent/ illegal/ unlawful/ untrue/ offensive/ deceptive activities /activities that go against the spirit of the company and its policies ,relationship partner/‘Mitr’s account will be suspended or terminated and the balance credit available to the relationship partner/‘Mitr’ shall be forfeited by HaTa.<br>

Loss:<br>

HaTa will not be responsible for any business loss (including loss of profits, revenue, contracts, anticipated savings, data, goodwill or wasted expenditure) or any other indirect or consequential loss that is not reasonably foreseeable to both you and us when you commenced using the website/app/portal.<br>

Reproduction:<br>

The website/portal/application may not be reproduced / sold /resold/ copied/ distributed/ or exploited without the consent of HaTa Bevtech Pvt Ltd.<br>

Jurisdiction:<br>

These terms and conditions are governed by the Indian laws.The jurisdiction to resolve all disputes will remain Mumbai only.<br>

Variance:<br>

HaTa reserves the right to vary any terms and conditions as and when it deems fit and appropriate.
</div>
  </ion-content>
</ion-popover-view>
